language: generic
os:
  - linux
  - osx
env:
  matrix:
    - TRAVIS_PYTHON_VERSION="3.7"
  global:
    - CONDA_PREFIX=$HOME/conda
    - MINICONDA_URL_BASE="https://repo.anaconda.com/miniconda/Miniconda3-latest"
jobs:
  include:
  - stage: lint
    os: linux
    script:
    - pip install flake8
    - make lint
  - stage: deploy
    if: tag =~ v.*$
    os: osx
    env: CONDA_ENV=3.7
    script:
#    - pip install twine wheel
#    - python setup.py bdist_wheel
#    - twine upload -u mcflugen -p$PYPI_PASS dist/*onhm*
before_install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      OS="MacOSX-x86_64"
    else
      OS="Linux-x86_64"
    fi
  - curl $MINICONDA_URL_BASE-$OS.sh > $HOME/miniconda.sh
  - bash $HOME/miniconda.sh -b -p $CONDA_PREFIX
  - export PATH="$CONDA_PREFIX/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda create -n test_env python=$CONDA_ENV
  - source activate test_env
  - conda info -a && conda list
install:
  - pip install -e .
script:
  - pip install pytest pytest-cov pytest-datadir coveralls
  - pytest --cov=gridmet_bmi --cov-report=xml:$(pwd)/coverage.xml -vvv
after_success: coveralls
